@using System.Reflection
@using Newtonsoft.Json
@inject ConfigurationSystem ConfigurationSystem
@inject INotificationService NotificationService

<div style="display: flex; flex-direction: column; gap: 24px;">
    <!-- 顶部元数据 -->
    <div style="background: #fafafa; padding: 24px; border-radius: 8px; border: 1px solid #f0f0f0;">
        <Flex Justify="FlexJustify.SpaceBetween" Align="FlexAlign.Start">
            <div>
                <Title Level="3" Style="margin: 0 0 4px 0;">@PluginAttr.Name</Title>
                <Text Type="@TextElementType.Secondary" Copyable>@PluginType.FullName</Text>
            </div>
            @if (PluginAttr.LaunchOrder != 0)
            {
                <Tag Color="@("blue")">启动顺序: @PluginAttr.LaunchOrder</Tag>
            }
        </Flex>

        <Paragraph Style="margin-top: 16px; color: rgba(0,0,0,0.65);">
            @PluginAttr.Description
        </Paragraph>

        @if (!string.IsNullOrEmpty(PluginAttr.Url))
        {
            <a href="@PluginAttr.Url" target="_blank">
                <Icon Type="link"/>
                项目文档</a>
        }
    </div>

    <!-- 详情配置 -->
    <div style="padding-top: 16px;">
        @if (PluginAttr.EditorUI != null && typeof(IComponent).IsAssignableFrom(PluginAttr.EditorUI))
        {
            <DynamicComponent Type="PluginAttr.EditorUI" Parameters="@(GetParameters())"/>
        }
        else
        {
            @(DefaultUI)
        }
    </div>
</div>

@code {
    [Parameter] public Type PluginType { get; set; } = null!;
    [Parameter] public ChatActivity? ChatActivity { get; set; }
    [Parameter] public Character? Character { get; set; }

    PluginAttribute PluginAttr => PluginType.GetCustomAttribute<PluginAttribute>()!;
    string jsonConfig = "{}";
    Plugin? Plugin { get; set; }
    RenderFragment DefaultUI => __builder => {
        @if (ConfigurationSystem.CanConfiguration(PluginType))
        {
            <TextArea AutoSize="true" MinRows="10" Style="font-family: monospace;" @bind-Value="jsonConfig"
                      Disabled="@(ChatActivity != null)"></TextArea>
            <Button Type="@ButtonType.Primary" OnClick="@(SaveConfiguration)" Style="margin-top: 16px;" Block
                    Disabled="@(ChatActivity != null)">保存配置
            </Button>
        }
    };

    protected override void OnParametersSet()
    {
        Plugin = ChatActivity?.PluginService.GetService(PluginType) as Plugin;

        LoadConfiguration();
    }
    void LoadConfiguration()
    {
        jsonConfig = ConfigurationSystem.GetConfigurationJson(PluginType)?.ToString(Formatting.Indented) ?? "{}";
    }
    void SaveConfiguration()
    {
        try
        {
            Type type = ConfigurationSystem.GetConfigurationType(PluginType)!;
            object configuration = JsonConvert.DeserializeObject(jsonConfig, type)!;
            ConfigurationSystem.SetConfiguration(PluginType, configuration);
            _ = NotificationService.Success(new NotificationConfig { Message = "配置已保存喵！" });
        }
        catch (Exception ex)
        {
            _ = NotificationService.Error(new NotificationConfig { Message = "保存失败：" + ex.Message });
        }
    }

    private Dictionary<string, object?> GetParameters()
    {
        Dictionary<string, object?> parameters = new() {
            { "PluginType", PluginType },
            { "Character", Character },
            { "ChatActivity", ChatActivity },
            { "Plugin", Plugin },
            { "DefaultUI", DefaultUI },
        };
        return parameters;
    }

}