@page "/activity"
@using Alife.Components.Elements.Utility
@inject ChatActivitySystem ChatActivitySystem
@inject CharacterSystem CharacterSystem
@inject ModalService ModalService

<div style="height: 100%;width: 100%;overflow-y: scroll;
display: grid;grid-template-columns: repeat(4, 1fr);gap: 10px;align-content: start">
    <Card Style="display: grid;">
        <Button style="top: 50%;left: 50%; transform: translate(-50%,-50%) scale(1.3);  "
                Size="ButtonSize.Large"
                Icon="@(IconType.Fill.PlusCircle)" OnClick="@(OnPlay)"></Button>
        <StringSelectorUI Options="@(options.Keys)" Visible="isSelecting" OnFinished="OnSelected"></StringSelectorUI>
    </Card>
    @foreach (ChatActivity chatActivity in ChatActivitySystem.GetAllChatActivities())
    {
        <ChatActivityUI Context="chatActivity"
                        Stopped="@(async () => { await ChatActivitySystem.Stop(chatActivity.Character); })"></ChatActivityUI>
    }
</div>

<CharacterLoadingUI Visible="@isCreating" 
                    Title="创建活动中..." 
                    TaskDescription="@creatingInfo.Item1" 
                    Progress="@creatingInfo.Item2" />

@code {
    Dictionary<string, Character> options = new();
    bool isSelecting;
    bool isCreating;
    (string, float) creatingInfo;

    void OnPlay()
    {
        options = CharacterSystem.GetAllCharacters()
            .Where(character => ChatActivitySystem.IsActivated(character) == false)
            .ToDictionary(character => character.Name, character => character);
        isSelecting = true;
    }
    async Task OnSelected(string? obj)
    {
        isSelecting = false;
        if (obj == null)
            return;
        Character character = options[obj];

        isCreating = true;

        try
        {
            IProgress<(string, float)> progress = new Progress<(string, float)>(tuple => {
                creatingInfo = tuple;
                StateHasChanged();
            });
            await Task.Run(async () => {
                await ChatActivitySystem.Play(character, progress);
            });
        }
        catch (Exception ex)
        {
            RenderFragment content = (builder) => {
                builder.OpenComponent<AlifeErrorDisplayUI>(0);
                builder.AddAttribute(1, "Title", "创建活动失败喵！");
                builder.AddAttribute(2, "Message", ex.Message);
                builder.AddAttribute(3, "InnerMessage", ex.InnerException?.Message);
                builder.AddAttribute(4, "StackTrace", ex.StackTrace);
                builder.CloseComponent();
            };

            _ = ModalService.Error(new ConfirmOptions {
                Title = "角色活动创建失败喵！",
                Content = content,
                Width = 800,
                Centered = true
            });
        }

        isCreating = false;
    }
}