@using System.Reflection
@using Alife.Components.Elements.Utility
@inject PluginSystem PluginSystem
@inject CharacterSystem CharacterSystem

<Modal
    Title=@($"配置 {Context.Name}")
    Visible="Visible"
    BodyStyle="height: 50vh;"
    DefaultMaximized="true"
    OnCancel="OnCancel"
    Footer=@(customFooter(this))>
    <GridRow Style="height: 100%;overflow-y: scroll" Gutter="12">
        <GridCol Style="height: 100%;" Span="@(SystemPrompts == null ? 24 : 12)">
            <Flex Style="height: 100%;" Direction="FlexDirection.Vertical" Gap="FlexGap.Small">
                <Text>生日</Text>
                <Input Disabled="true" Value="@(Context.Birthday)"/>
                <Text>唯一标识（名称）</Text>
                <Input ReadOnly="true" @bind-Value="name"/>
                <Text>设定</Text>
                <TextArea MinRows="10" Disabled="@(IsOnlyRead)" @bind-Value="prompt"></TextArea>
                <Text>插件</Text>
                <Card>
                    @if (IsOnlyRead)
                    {
                        <div style="height: 100%;width: 100%;display: flex;flex-wrap: wrap">
                            @foreach (Type pluginType in Context.Plugins)
                            {
                                var attr = pluginType.GetCustomAttribute<PluginAttribute>();
                                <Tag>@(attr?.Name ?? pluginType.Name)</Tag>
                            }
                        </div>
                    }
                    else
                    {
                        <StringFolderSelectorUI
                            Context="@(PluginSystem.GetPluginFolder())"
                            ItemTitleFilter="@(fullName => GetPluginName(fullName))"
                            @bind-IsChecking="pluginIDs">
                        </StringFolderSelectorUI>
                    }
                </Card>
            </Flex>
        </GridCol>
        @if (SystemPrompts != null)
        {
            <GridCol Style="height: 100%;" Span="12">
                <Flex Style="height: 100%;" Direction="FlexDirection.Vertical" Gap="FlexGap.Small">
                    <Text>隐含上下文</Text>
                    <Card Style="flex: 1; overflow-y: scroll;">
                        @foreach (string systemPrompt in SystemPrompts)
                        {
                            <Paragraph Copyable style="white-space: pre-wrap;">
                                @(systemPrompt)
                            </Paragraph>
                            <Divider Dashed></Divider>
                        }
                    </Card>
                </Flex>
            </GridCol>
        }
        <br/>
    </GridRow>
</Modal>

@code {
    [Parameter] public Character Context { get; set; } = null!;
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }
    [Parameter] public bool IsOnlyRead { get; set; }
    [Parameter] public IEnumerable<string>? SystemPrompts { get; set; }

    string name = null!;
    string prompt = null!;
    HashSet<string> pluginIDs = null!;
    RenderFragment<CharacterEditorUI> customFooter = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        name = Context.Name;
        prompt = Context.Prompt;
        pluginIDs = new HashSet<string>(Context.Plugins.Select(PluginSystem.GetPluginID));

        customFooter = (source) =>
            @<div>
                @if (source.IsOnlyRead) { }
                else
                {
                    <Button Type="@ButtonType.Primary" OnClick="source.OnConfirm">确定</Button>
                    <Button OnClick="@source.OnCancel">取消</Button>
                }
            </div>;
    }

    string GetPluginName(string fullName)
    {
        Type? type = PluginSystem.GetPlugin(fullName);
        if (type == null)
            return "[未知插件]" + fullName;
        PluginAttribute attr = type.GetCustomAttribute<PluginAttribute>()!;
        return attr.Name;
    }

    void OnConfirm()
    {
        Context.Prompt = prompt;
        Context.Plugins = pluginIDs
            .Select(PluginSystem.GetPlugin)
            .Where(t => t != null)
            .ToHashSet()!;
        CharacterSystem.SaveCharacter(Context);
        VisibleChanged.InvokeAsync(false);
    }
    void OnCancel()
    {
        VisibleChanged.InvokeAsync(false);
    }
}